body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: blanchedalmond;
}

h1 {
  font-size: 24px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: aliceblue;
}

#pokemonCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

#errorMessage {
  color: red;
  margin-top: 10px;
}

.pokemon-info {
    background-color: blueviolet;
    padding: 40px;
    margin-top: 40px;
}

.pokemon-info h2 {
    text-transform: uppercase;
}

